= render 'question'
.answers
  = render 'answers/list', question: @question

- if signed_in?
  = render 'answers/form', question: @question, answer: nil

= subscribe_to "/question/#{@question.id}/answers"
= subscribe_to "/question/#{@question.id}/comments"
