= render 'question'

.answers
  = render 'answers/list'

- if @new_answer
  = render 'answers/form'

= subscribe_to "/question/#{@question.id}/answers"
= subscribe_to "/question/#{@question.id}/comments"
