$('.new_answer').html('<%= escape_javascript render 'form' %>');
$('.alert').html('<div class="alert alert-success">Your answer successfully created.</div>');
$('.answers').append('<%= escape_javascript render 'answer' %>');
